<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lab report</title>
</head>
<body>
    <h1>Lab Report</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Test Name</th>
                <th>Date</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            {% for test in tests %}
                <tr>
                    <td>{{ test.name }}</td>
                    <td>{{ test.date }}</td>
                    <td>{{ test.result }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>